<app-main-nav name="Order List">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto" style="max-width: 600px;">
  <div class="p-2 font-small">
    <div class="d-inline">My phone : {{restaurant.phone}}</div>
    <div class="float-right">Restaurant : {{restaurant.phone}}</div>
  </div>
  <div class="m-4">
    <agm-map [latitude]="restaurant.lat" [longitude]="restaurant.long">
      <agm-marker [latitude]="restaurant.lat" [longitude]="restaurant.long"></agm-marker>
    </agm-map>
  </div>
  <mat-card *ngFor="let order of orders; let i=index;" [ngClass]="order.state=='today'?'today':order.state=='ago'?'ago':'later'">
   <!--<mat-card *ngFor="let order of orders; let i=index;" class="today">-->
    <img mat-card-md-image [src]="order.image_url" style="position: absolute">
    <img src="assets/imgs/check.png" style="position: absolute; width: 30px; left: 10px; top : 10px" *ngIf="order.state=='today'">
    <mat-card-content style="margin-left: 110px">
      <div>
        <span class="float-left">
        {{order.food_name}}
        </span>
        <span class="float-right">
        ${{order.price}}
        </span>
      </div>
      <br><br>
      <div>
        <span class="float-left" style="font-size: 1rem;">
          <i class="fa fa-minus-square-o" style="font-size:18px" (click)="decreaseCount(i)"></i>
          &nbsp;{{order.count}}&nbsp;
          <i class="fa fa-plus-square-o" style="font-size:18px" (click)="increaseCount(i)"></i>
        </span>
        <span class="float-right">
          Total price : ${{order.count*order.price}}
        </span>
      </div>
      <br><br>
      <div>
        <span class="float-left">
        At restaurant :
        </span>
        <span class="float-right">{{order.order_date}}</span>
      </div>
      <br>
      <div>
        <i class="fa fa-calendar" style="font-size:24px; float: right; color: grey;" (click)="gotoSelectDate()"></i>
      </div>
    </mat-card-content>
    <mat-card-footer style="margin-top: 30px;">
      <label>
        Food Description
      </label>
      <div class="order_desc">
        {{order.food_desc}}
      </div>
      <div class="my-2 mx-2 text-center">
        <button class="btn mx-3 px-4 shadow">Delete</button>
        <button class="btn mx-3 px-4 shadow">Update</button>
      </div>
    </mat-card-footer>
  </mat-card>
  <div class="text-center font-small">
    please select foods what you want order
  </div>
  <div class="text-center font-weight-bold mt-3" style="font-size: 1.2rem">
    Total price : ${{totalPrice}}<br>
    Total quantity : {{totalCount}}<br>
    <a href="/ordernow">
      <button class="btn mx-4 my-2 px-5 shadow font-weight-bold" style="font-size: 1.2rem"> Order Now</button>
    </a>
    <div class="bg-grey m-5 p-2">
      <span style="background-color: #d6ebfb;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ago&nbsp;&nbsp;
      <span style="background-color: #fbf8b2;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Today&nbsp;&nbsp;
      <span style="background-color: #ebc1fd;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Later
    </div>
  </div>
</div>
</div>
