@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}

agm-map {
  height : 250px;
}
.font-small {
  font-size: 0.9rem;
  font-weight: 600;
}

.today {
  margin: 20px; border-radius : 10px;
  min-height : 300px;
  position: relative;
  background-color : #fbf8b2;
}
.ago {
  margin: 20px; border-radius : 10px;
  min-height : 300px;
  position: relative;
  background-color: #d6ebfb;
}
.later {
  margin: 20px; border-radius : 10px;
  min-height : 300px;
  position: relative;
  background-color: #ebc1fd;
}
label {
  margin-left: 20px;
  font-size: 12px;
}
.order_desc {
  font-size: 0.8rem;
  margin: 0 20px;
  border:2px solid #99999999;
  min-height: 50px;
  padding: 10px;
}
.bg-grey {
  background-color: #99999999;
}
.mat-card-content {
  font-size : 0.7rem;
}
.mat-card-md-image {
  width: 100px;
  height: 100px;
}
