<nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
  <button mat-icon-button>
    <i class="fa fa-angle-left" style="font-size:32px;color:white"  (click)="returnPage()"></i>
  </button>
  <a class="navbar-brand text-white mx-auto">Food Detail</a>
</nav>
<div style="max-width: 600px;" class="mx-auto">
<div class="food_detail">
  <img [src]="order.image_url" alt="Los Angeles" width="100%" height="auto">
  <img src="assets/imgs/red_tag.png" style="position: absolute; right: -3px; top: -3px; width: 25px;">
  <p class="home_tag">{{order.state}}</p>
  <div style="position: absolute; bottom : 10px; right : 10px;">
    <i class="fa fa-heart" style="font-size:15px;color:red"></i>
    {{order.favor}}
  </div>
  <div class="font-weight-bold">
    <span class="float-left">
      {{order.food_name}}
    </span>
    <span class="float-right">
      ${{order.price}}
    </span>
  </div>
</div>
<br>
<div class="mx-4 font-weight-bold">
  Food Description
</div>
<div class="about">
  {{order.food_desc}}
</div>
<div class="mx-5" style="font-size: 0.8rem">
  <span class="float-left">
      At restaurant
      </span>
  <i class="fa fa-calendar ml-2" style="font-size:24px; float: right; color: grey;" (click)="gotoSelectDate()"></i>
  <span class="float-right">{{order.order_date}}</span>
</div>
<br>
<div class="m-5"  style="font-size: 0.8rem; min-height: 50px;">
  <div class="text-center">
    <span class="float-left">
    <i class="fa fa-minus-square-o" style="font-size:15px" (click)="decreaseCount(i)"></i>
    &nbsp;{{order.count}}&nbsp;
    <i class="fa fa-plus-square-o" style="font-size:15px" (click)="increaseCount(i)"></i>
    <br>
    Total price : ${{order.count*order.price}}
  </span>
    <button class="btn font-weight-bold float-right">Add Order List</button>
  </div>
</div>
</div>