.nav-bg-color {
  background-color: #8fb4f9;
}
.food_detail {
  margin: 20px;
  border-radius : 10px;
  min-height : 150px;
  background-color : #befff3;
  position: relative
}
.about {
  margin: 20px;
  border:2px solid #d6d6d699;
  height: 100px;
  padding: 10px;
}
.home_tag {
  position: absolute;
  right: 0;
  top: -3px;
  width: 20px;
  font-size: 0.5rem;
  color: white;
  text-align: center;
  line-height: 9px;
}
