
@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}
agm-map {
  height : 250px;
}
.about {
  margin: 20px;
  border:2px solid #d6d6d699;
  height: 100px;
  padding: 10px;
}
.sharing {
  display: inline;
}
