<app-main-nav name="About Us">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto" style="max-width: 600px;">
  <div class="m-4">
    <agm-map [latitude]="restaurant.lat" [longitude]="restaurant.long">
      <agm-marker [latitude]="restaurant.lat" [longitude]="restaurant.long"></agm-marker>
    </agm-map>
  </div>
  <div class="m-4 font-weight-bold">
    About Restaurant
  </div>
  <div class="about">
    {{restaurant.about}}
  </div>
  <div class="text-right">
      <i class="fa fa-share-alt" style="font-size:30px;color:#999999"></i>
      <i class="fa fa-facebook-square ml-3" style="font-size:30px;color:#3B5998"></i>
      <i class="fa fa-google-plus-square ml-3" style="font-size:30px;color:#DD4B39"></i>
      <i class="fa fa-instagram mx-3" style="font-size:30px;color:#3F729B"></i>
  </div>
  <div class="m-3">
    <b>Address :</b>  {{restaurant.address}}<br>
    <b>Email :</b>  {{restaurant.email}}<br>
    <b>Phone :</b>  {{restaurant.phone}}
  </div>
</div>
</div>
