<app-main-nav name="Contact">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto" style="max-width: 600px; margin-top: 30vh"> 
  <form class="contact-form">
    <mat-form-field class="contact-full-width">
      <input matInput type="email" placeholder="Input your email" >
    </mat-form-field>
    <mat-form-field class="contact-full-width">
      <input matInput type="text" placeholder="Title" >
    </mat-form-field>
    <mat-form-field class="contact-full-width">
      <input matInput type="text" placeholder="Content" >
    </mat-form-field>
    <button type="button" class="btn w-100 mt-5">Submit</button>
  </form>

</div>
