<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <img src="assets/imgs/logo.png" alt="LOGO" class="res_logo">
      <hr>
      <a mat-list-item href="">Home</a>
      <a mat-list-item href="/orderlist">Order List</a>
      <a mat-list-item href="/favorites">Favorites</a>
      <a mat-list-item href="/aboutus">About us</a>
      <a mat-list-item href="/contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="margin-left: auto; margin-right: auto; color: white">{{pageName}}</span>
      <button
       type="button"
       mat-icon-button
      >
        <!--<mat-icon>search</mat-icon>-->
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
