<div *ngIf="step==1">
  <div class="main-color w-100" style="min-height: 30vh;">
    &nbsp;
  </div>
  <div class="w-100 px-4 mx-auto" style="height: 35vh; max-width: 400px;">
    <form [formGroup]="loginForm" novalidate>
      <div class="md-form pb-2">
        <i class="fa fa-envelope prefix main-color1"></i>
        <input mdbInputDirective [errorMessage]="invalidMsg" [successMessage]="validMsg" formControlName="email" [(ngModel)]="loginCredential.email"
               type="email" class="form-control" id="form1" name="email">
        <label for="form1">{{"TYPEEMAIL" | translate}}</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix main-color1"></i>
        <input mdbInputDirective [errorMessage]="wrongPass" [successMessage]="validPass" formControlName="password"  [(ngModel)]="loginCredential.password"
               type="password" class="form-control" id="form2" name="password">
        <label for="form2">{{"TYPEPASSWORD" | translate}}</label>
      </div>

    </form>

    <div>
      <button mdbBtn type="button" class="waves-light main-color" rounded="true"  block="true" mdbWavesEffect [disabled]="loginForm.invalid" (click)="login()">{{'LOGIN' | translate}}</button>
    </div>

  </div>
  <div class="main-color w-100" style="min-height: calc(35vh - 53px)">

  </div>
  <footer  class="page-footer font-small main-color">
    <div class="text-center py-3 font-weight-bold">
      {{'POWERED' | translate}}
    </div>
  </footer>
</div>
<div *ngIf="step>1">
  <header>
    <div class="row">
      <a routerLink="/home/{{profile.resName}}"><img [src]="profile.resLogo" alt="logo" class="res_logo"></a>
      <div class="text-left" style="width : calc(100% - 200px)">
        <div>{{profile.resName}}</div>
        <a style="font-size: 10px; line-height: 20px;"><i class="fa fa-phone phone_icon"></i>{{profile.phone}}</a>
        <div style="font-size: 10px; line-height: 20px;"><i class="fa fa-map-marker phone_icon"></i>{{profile.address}}</div>
      </div>

      <div>
        <div class="text-center mt-2 pt-4 px-4">
          <div class="lang_icon" (click)="changeLang()">
            <mat-icon>g_translate</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div style="min-height : calc(100vh - 132px)">
    <div class="mx-auto" style="max-width: 400px;">
      <div class="p-3">
        <button mdbBtn floating="true" size="lg" class="main-color text-white rounded-circle" (click)="editModal.show()" mdbWavesEffect><mdb-icon icon="edit" style="font-size: 20px;" ></mdb-icon></button>
        <button mdbBtn floating="true" size="lg" class="main-color text-white float-right" (click)="addModal.show()" mdbWavesEffect><mdb-icon icon="plus" style="font-size: 20px;"></mdb-icon></button>
      </div>
      <div *ngFor="let food of foods; let i=index;" class="row justify-content-between food_card shadow">
        <div>
          {{food.food_name}}
        </div>
        <div class="text-right">
          ${{food.price}}
          <span >
            <i class="fa fa-camera camera_icon" *ngIf="food.image_url!=''" (click)="photoModal.show(); currentIndex = i;"></i>
            <span *ngIf="!food.image_url" style="margin-left: 30px;"></span>
          </span>
          <span>
            <i class="fa fa-align-justify camera_icon"  *ngIf="food.description!=''" (click)="descModal.show(); currentIndex = i;"></i>
            <span *ngIf="!food.description" style="margin-left : 30px;"></span>
          </span>
          <span>
            <i class="fa fa-trash camera_icon" (click)="deleteModal.show(); currentIndex = i;"></i>
           </span>
        </div>

      </div>
    </div>
  </div>
  <footer  class="page-footer font-small main-color">
    <div class="text-center py-3 font-weight-bold">
      {{'POWERED' | translate}}
    </div>
  </footer>

</div>

<div mdbModal #photoModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header main-color text-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="photoModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="phoneModalLabel">{{'FOODIMAGE' | translate}}</h4>
      </div>
      <div class="modal-body" *ngIf="foods.length>0">
        <img [src]="foods[currentIndex].image_url" class="modal-photo">
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="photoModal.hide()" mdbWavesEffect>Close</button>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div mdbModal #descModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="descModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-frame modal-bottom" role="document">
    <div class="modal-content">
      <div class="modal-header main-color text-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="descModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="descModalLabel">{{'FOODDESC' | translate}}</h4>
      </div>
      <div class="modal-body" *ngIf="foods.length>0">
        <h6>
          {{foods[currentIndex].description}}
        </h6>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="photoModal.hide()" mdbWavesEffect>Close</button>-->
      <!--</div>-->
    </div>
  </div>
</div>


<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h6>{{'WANTDELETE' | translate}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="waves-light btn-outline-danger" aria-label="Close" (click)="deleteModal.hide()" mdbWavesEffect>{{'CLOSE' | translate}}</button>
        <button type="button" mdbBtn class="waves-light main-color" aria-label="Close" (click)="delete();deleteModal.hide()" mdbWavesEffect>{{'DELETE' | translate}}</button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #editModal="mdbModal" class="modal fade" size="lg" role="dialog">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center main-color text-white">
        <button id="editModalClose" type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="editModal">{{'EDITPROFILE' | translate}}</h4>
      </div>

      <!--Body-->
      <div class="modal-body mx-3">

        <form class="h-100 table-scroll-vertical" [formGroup]="profileForm" novalidate>
          <div class="md-form flex-center">
            <input style="display:none" type="file" (change)="onLogoSelected($event)" #logoInput>
            <img src="assets/imgs/file-upload.png" alt="{{logo}}" class="logo" *ngIf="!profile.resLogo" (click)="logoInput.click()">
            <img [src]="profile.resLogo" alt="{{logo}}" class="logo" *ngIf="profile.resLogo" (click)="logoInput.click()">
          </div>
          <div class="md-form  pb-2">
            <i class="fa fa-beer prefix main-color1"></i>
            <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="resName"
                   [(ngModel)]="profile.resName" name="restname"  [errorMessage]="invalidMsg" [successMessage]="validMsg" disabled>
            <label for="form3">{{"RESTNAME" | translate}}</label>
          </div>

          <div class="md-form  pb-2">
            <i class="fa fa-envelope prefix main-color1"></i>
            <input mdbInputDirective type="email" id="form4" class="form-control" formControlName="email"
                   [(ngModel)]="profile.email" [errorMessage]="invalidMsg" [successMessage]="validMsg">
            <label for="form4">{{"EMAIL" | translate}}</label>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" [(ngModel)]="changePass"  formControlName="checking">
            <label class="custom-control-label" for="defaultUnchecked">{{"CHANGEPASS" | translate}}</label>
          </div>

          <div *ngIf="changePass">
            <div  [formGroup]="passwordFormGroup">
              <div class="md-form pb-2">
                <i class="fa fa-key prefix main-color1"></i>
                <input mdbInputDirective type="password" class="form-control" id="form7"  formControlName="password"
                       [errorMessage]="wrongPass" [successMessage]="validPass" [(ngModel)]="profile.password">
                <label for="form7">{{"PASSWORD" | translate}}</label>
              </div>

              <div class="md-form pb-2">
                <i class="fa fa-key prefix main-color1"></i>
                <input mdbInputDirective type="password" class="form-control" id="form8" formControlName="repeatpassword"
                       [errorMessage]="wrongPass" [successMessage]="validPass" [(ngModel)]="confirmPassword" name="confirm">
                <label for="form8">{{"CONFIRMPASS" | translate}}</label>
              </div>
              <p class="text-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">{{'NOMATCH' | translate}}</p>
            </div>
          </div>

          <div class="md-form input-group pb-2">
            <!--<i class="fa fa-map-marker prefix main-color1"></i>-->
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color: transparent; border : none; padding-left : 0"><i class="fa fa-map-marker prefix main-color1"></i></span>
            </div>
            <input mdbInputDirective type="text" id="form5" class="form-control" formControlName="address" aria-describedby="addressMap" disabled
                   [errorMessage]="invalidMsg" [successMessage]="validMsg" [(ngModel)]="profile.address" name="address" dis>
            <!--<label for="form5">{{"ADDRESS" | translate}}</label>-->
            <div class="input-group-append" (click)="mapModal.show()">
              <span class="input-group-text" id="addressMap">Map</span>
            </div>
          </div>

          <div class="md-form pb-2 ">
            <i class="fa fa-mobile-phone prefix main-color1"></i>
            <input mdbInputDirective type="text" id="form6" class="form-control" formControlName="phone"
                   [errorMessage]="invalidMsg" [successMessage]="validMsg" [(ngModel)]="profile.phone" name="phone">
            <label for="form6">{{"PHONE" | translate}}(ex : 123-456-7890)</label>
          </div>
        </form>
      </div>
      <!--Footer-->
      <div class="modal-footer flex-center">
        <button type="button" mdbBtn class="waves-light main-color"  (click)="updateInfo();" mdbWavesEffect [disabled]="profileForm.invalid || (changePass && passwordFormGroup.invalid)">{{'UPDATE' | translate}}</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #addModal="mdbModal" class="modal fade" size="lg" role="dialog">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center  main-color text-white">
        <button type="button" class="close pull-right" aria-label="Close" id="addModalId" (click)="addModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="addModal">{{'ADDFOOD' | translate}}</h4>
      </div>

      <!--Body-->
      <div class="modal-body mx-3">

        <form class="h-100 table-scroll-vertical" [formGroup]="foodForm" novalidate>
          <div class="md-form flex-center" style="border-style: outset;" >
            <input style="display:none" type="file" (change)="onImageSelected($event)" #imageInput>
            <img src="assets/imgs/file-upload.png" alt="{{logo}}" class="logo" *ngIf="!newfood.image_url" (click)="imageInput.click()">
            <img [src]="newfood.image_url" alt="{{logo}}" class="logo" *ngIf="newfood.image_url" (click)="imageInput.click()">
          </div>
          <div class="md-form pb-2">
            <i class="fa fa-beer prefix main-color1"></i>
            <input mdbInputDirective type="text" id="form9" class="form-control" formControlName="foodname"
                   [errorMessage]="invalidMsg" [successMessage]="validMsg" [(ngModel)]="newfood.food_name" name="foodname">
            <label for="form9">{{"FOODNAME" | translate}}</label>
          </div>
          <div class="md-form pb-2">
            <i class="fa fa-usd prefix main-color1"></i>
            <input mdbInputDirective type="number" id="form11" class="form-control" formControlName="price"
                   [errorMessage]="invalidMsg" [successMessage]="validMsg" [(ngModel)]="newfood.price" name="foodprice">
            <label for="form11">{{"PRICE" | translate}}</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="form13" name="materialExampleRadios" checked  (click)="newfood.when='lunch'">
            <label class="form-check-label" for="form13">{{"LUNCH" | translate}}</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="form14" name="materialExampleRadios"  (click)="newfood.when='dinner'" >
            <label class="form-check-label" for="form14">{{"DINNER" | translate}}</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="form15" name="materialExampleRadios"  (click)="newfood.when='popular'">
            <label class="form-check-label" for="form15">{{"POPULAR" | translate}}</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="form16" name="materialExampleRadios"  (click)="newfood.when='special'">
            <label class="form-check-label" for="form16">{{"SPECIAL" | translate}}</label>
          </div>
          <div class="md-form pb-2">
            <i class="fa fa-pencil prefix main-color1"></i>
            <textarea mdbInputDirective type="text" id="form10" rows="3" class="md-textarea form-control" formControlName="desc" [(ngModel)]="newfood.description" name="fooddesc"></textarea>
            <label for="form10">{{"FOODDESC" | translate}}</label>
          </div>
        </form>
      </div>
      <!--Footer-->
      <div class="modal-footer flex-center">
        <button type="button" mdbBtn class="waves-light main-color" [disabled]="foodForm.invalid" (click)="addNewFood()" mdbWavesEffect>{{'ADD' | translate}}</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<!--Modal: Name-->
<div mdbModal #mapModal="mdbModal" class="modal fade left"   size="lg" role="dialog">
  <div class="modal-dialog" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">

        <!--Google map-->
        <div id="map-container-9" class="z-depth-1-half" style="height: 400px"></div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">

        <button type="button" class="btn btn-info btn-md" (click)="savePos()">{{'SAVEPOS' | translate}}<i class="fa fa-map-marker ml-1"></i></button>
        <button type="button" class="btn btn-outline-info btn-md" id="mapClose" (click)="mapModal.hide()">{{'CLOSE' | translate}} <i class="fa fa-times ml-1"></i></button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>
