
.home_slider {
  background-color: #ffdfd3;
  border-radius: 10px;
}
a {
  color : white;
}
.home_food {
  margin: 20px;
  border-radius : 10px;
  min-height : 150px;
  background-color : #befff3;
  position: relative
}

.home_tag {
  position: absolute;
  right: 0;
  top: -3px;
  width: 20px;
  font-size: 0.5rem;
  color: white;
  text-align: center;
  line-height: 9px;
}
header {
  background-color: #b9122f;
  text-align: center;
  color : white;
  font-weight: bold;
  padding :10px;
}
.res_logo {
  width : 60px;
  height : 60px;
  margin: 5px 15px;
}
.phone_icon {
  font-size :12px;
  padding : 2px 4px;
  width : 15px;
  color :  #b9122f;
  background-color: white;
  border-radius: 50%;
  margin-right : 5px;
}
.lang_icon {
  padding : 4px 4px 0 4px;
  width : 35px;
  color :  #b9122f;
  background-color: white;
  border-radius: 50%;
}
.food_card {
  margin: 10px;
  padding : 5px 20px;
  color : black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #ffdfd3;
}
.camera_icon {
  font-size :16px;
  padding : 4px 6px;
  width : 25px;
  color :  white;
  background-color: #b9122f;
  border-radius: 50%;
  margin-right : 5px
}
.modal-photo {
  width : 100%;
  height : 50vh
}
.logo {
  width : 40vw;
  height : 40vw;

}
