<nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
  <a class="navbar-brand text-white mx-auto">Select Date & Time</a>
</nav>
<div class="m-5 text-center">
  <input matInput type="date" class="form-control mx-auto border-black" style="width: 180px;" [(ngModel)]="selDate"/>
</div>
<div class="m-3 text-center">
  <input matInput type="time"  class="form-control mx-auto border-black" style="width: 180px;" [(ngModel)]="selTime">
  <br>
  <button class="btn px-5 mt-4" (click)="gotoUpdate()">OK</button>
</div>
