<agm-map [latitude]="profile.lat" [longitude]="profile.lon">
  <agm-marker [latitude]="profile.lat" [longitude]="profile.lon"></agm-marker>
  <agm-marker [latitude]="currentUser.lat" [longitude]="currentUser.lon"></agm-marker>
</agm-map>
