<app-main-nav name="Order Now">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto  p-5 text-center" style="max-width: 600px;">
  <form class="ordernow-form">
    <mat-form-field class="ordernow-full-width">
      <input matInput type="email" placeholder="Input your name" >
    </mat-form-field>
    <mat-form-field class="ordernow-full-width">
      <input matInput type="text" placeholder="Input phone number" >
    </mat-form-field>
    <div>
      <span class="sms-txt">You will receive verify code via SMS</span>
      <button class="text-danger float-right btn btn-light font-weight-bold">Send SMS</button>
    </div>
    <br>
    <div class="text-center">
      <div class="text-center font-weight-bold mt-3">Input verify Code</div>
      <div>
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
      </div>
      <div class="text-center font-weight-bold mt-3">Success!</div>
      <button class="btn px-5 font-weight-bold mt-3">Order</button>
      <div class="text-center font-weight-bold mt-3">Your Order Success!</div>
    </div>

  </form>
</div>
</div>
