/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  margin: 0;
}
.main-color {
  background-color : #b9122f;
}
.main-color1 {
  color :  #b9122f;
}
.md-form .prefix.active {
  color :#b9122f;
}
