
@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}
.favor_food {
  margin: 20px; border-radius : 10px;
  min-height : 150px;
  background-color : #befff3;
  position: relative
}

.home_tag {
  position: absolute;
  right: 0;
  top: -3px;
  width: 20px;
  font-size: 0.5rem;
  color: white;
  text-align: center;
  line-height: 9px;
}
