<app-main-nav name="Favorites">
</app-main-nav>


<div class="main-back">
  <div class="mx-auto" style="max-width: 600px;">
  <mat-card *ngFor="let food of foods; let i=index;" class="favor_food">
    <img mat-card-md-image [src]="food.image_url" style="position: absolute">
    <img src="assets/imgs/red_tag.png" style="position: absolute; right: -3px; top: -3px; width: 25px;">
    <p class="home_tag">{{food.state}}</p>
    <mat-card-content style="margin-left: 120px">
      <div style="display: inline">
        {{food.food_name}}
      </div>
      <div style="display: inline; float: right">
        ${{food.price}}
      </div>
      <div>
        {{food.food_desc}}
      </div>
      <div style="position: absolute; bottom : 10px; right : 25px;">
        <i class="fa fa-heart" style="font-size:15px;color:red"></i>
        {{food.favor}}
      </div>
    </mat-card-content>
  </mat-card>
</div>

</div>

