<!--<app-main-nav name="Home">-->
<!--</app-main-nav>-->
<header>
  <div class="row">
    <a routerLink="/admin/{{profile.resName}}">
      <img src="assets/imgs/logo.png" alt="LOGO" class="res_logo" *ngIf="!profile.resLogo">
    </a>
    <img [src]="profile.resLogo" alt="LOGO" class="res_logo" (click)="gotoAdmin()" *ngIf="profile.resLogo">
    <div class="text-left" style="width : calc(100% - 200px)">
      <div>{{profile.resName}}</div>
      <a style="font-size: 10px; line-height: 20px;" href="tel:+01-{{profile.phone}}" (click)="saveCallHistory()"><i class="fa fa-phone phone_icon"></i>{{profile.phone}}</a>
      <div style="font-size: 10px; line-height: 20px;" (click)="openMap()"><i class="fa fa-map-marker phone_icon"></i>{{profile.address}}</div>
    </div>

    <div>
      <div class="text-center mt-2 pt-4 px-4">
        <div class="lang_icon" (click)="changeLang()">
          <mat-icon>g_translate</mat-icon>
        </div>
      </div>
    </div>
  </div>
</header>
<div style="min-height : calc(100vh - 132px)">
  <div class="mx-auto" style="max-width: 400px; min-height: 264px">
    <mdb-carousel [isControls]="true" [animation]="'slide'" class="shadow m-2">
      <mdb-carousel-item *ngFor="let food of foods_with_images;">
        <img class="w-100" height="200" [src]="food.image_url">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="row mx-2">
    <div *ngFor="let filter of filters;">
      <button class="btn_filter" (click)="filterBy(filter.value)">{{filter.viewValue}}</button>
    </div>
  </div>
  <div class="mx-auto" style="max-width: 400px;">
    <div *ngFor="let food of foods_filter; let i=index;" class="row justify-content-between food_card shadow">
      <div>
        {{food.food_name}}
      </div>
      <div class="text-right">
        ${{food.price}}
        <span >
          <i class="fa fa-camera camera_icon" *ngIf="food.image_url!=''" (click)="photoModal.show(); currentIndex = i;"></i>
          <span *ngIf="food.image_url == ''" style="margin-left : 27px;">&nbsp;</span>
        </span>
        <span>
          <i class="fa fa-align-justify camera_icon"  *ngIf="food.description!=''" (click)="descModal.show(); currentIndex = i;"></i>
          <span *ngIf="food.description == ''"  style="margin-left : 27px;">&nbsp;</span>
        </span>
      </div>

    </div>
  </div>
</div>
<footer  class="page-footer font-small main-color">
  <div class="text-center py-3 font-weight-bold">
  {{'POWERED' | translate}}
  </div>
</footer>

<div mdbModal #photoModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header main-color text-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="photoModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="phoneModalLabel">{{'FOODIMAGE' | translate}}</h4>
      </div>
      <div class="modal-body" *ngIf="foods_filter.length>0">
        <img [src]="foods_filter[currentIndex].image_url" class="modal-photo">
      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="photoModal.hide()" mdbWavesEffect>Close</button>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div mdbModal #descModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="descModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-frame modal-bottom" role="document">
    <div class="modal-content">
      <div class="modal-header main-color text-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="descModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="descModalLabel">{{'FOODDESC' | translate}}</h4>
      </div>
      <div class="modal-body" *ngIf="foods_filter.length>0">
        <h6>
          {{foods_filter[currentIndex].description}}
        </h6>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="photoModal.hide()" mdbWavesEffect>Close</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
